@{
    ViewData["Title"] = "Home Page";
}
<head>

</head>

<body>

    <div class="container">
        <h3>Joel Hilton</h3>
        <p>Check out the podcast or add amovie to the database!</p>
        <img src="~/img/JoelHiltonHeadshot.jpg" height="350" />
    </div>

</body>