@{
    ViewData["Title"] = "My Podcasts";
}
<head>

</head>

<body>
    @*link to podcast site*@
    <div class="container">
        <h3></h3>
        <a href="https://baconsale.com/">See Podcasts Here</a>
    </div>

</body>
